In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("Authorities .csv")
df

       Authority_ID  Local_Authority_(District) Local_Authority_(Highway)
0               NaN                          12                 E09000020
1               NaN                          12                 E09000020
2               NaN                          12                 E09000020
3               NaN                          12                 E09000020
4               NaN                          12                 E09000020
...             ...                         ...                       ...
49995           NaN                         121                 E06000049
49996           NaN                         126                 E06000049
49997           NaN                         121                 E06000049
49998           NaN                         122                 E06000049
49999           NaN                         127                 E06000050

[50000 rows x 3 columns]

In [6]:
Authorities = df.copy()
Authorities

       Authority_ID  Local_Authority_(District) Local_Authority_(Highway)
0               NaN                          12                 E09000020
1               NaN                          12                 E09000020
2               NaN                          12                 E09000020
3               NaN                          12                 E09000020
4               NaN                          12                 E09000020
...             ...                         ...                       ...
49995           NaN                         121                 E06000049
49996           NaN                         126                 E06000049
49997           NaN                         121                 E06000049
49998           NaN                         122                 E06000049
49999           NaN                         127                 E06000050

[50000 rows x 3 columns]

In [7]:
Authorities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Authority_ID                0 non-null      float64
 1   Local_Authority_(District)  50000 non-null  int64
 2   Local_Authority_(Highway)   50000 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB

In [8]:
Authorities.isna().sum()

Authority_ID                  50000
Local_Authority_(District)        0
Local_Authority_(Highway)         0
dtype: int64

In [9]:
Authorities.drop_duplicates().info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 0 to 48345
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Authority_ID                0 non-null      float64
 1   Local_Authority_(District)  77 non-null     int64
 2   Local_Authority_(Highway)   77 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.4+ KB