In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('roads.csv')
df

,Road_ID,1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Control,2nd_Road_Class,2nd_Road_Number
0,NaN,3,3218,Single carriageway,30,NaN,-1,0
1,NaN,4,450,Dual carriageway,30,Automatic traffic signal,5,0
2,NaN,5,0,Single carriageway,30,NaN,-1,0
3,NaN,3,3220,Single carriageway,30,NaN,-1,0
4,NaN,6,0,Single carriageway,30,NaN,-1,0
...,...,...,...,...,...,...,...,...
49995,NaN,3,533,Single carriageway,30,Automatic traffic signal,6,0
49996,NaN,3,537,Single carriageway,50,Giveway or uncontrolled,6,0
49997,NaN,6,0,Single carriageway,60,Giveway or uncontrolled,3,5022
49998,NaN,3,534,Single carriageway,60,NaN,-1,0
49999,NaN,4,5082,Single carriageway,60,Giveway or uncontrolled,6,0

In [3]:
roads = df.copy()

In [4]:
roads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Road_ID           0 non-null      float64
 1   1st_Road_Class    50000 non-null  int64
 2   1st_Road_Number   50000 non-null  int64
 3   Road_Type         50000 non-null  object
 4   Speed_limit       50000 non-null  int64
 5   Junction_Control  34392 non-null  object
 6   2nd_Road_Class    50000 non-null  int64
 7   2nd_Road_Number   50000 non-null  int64
dtypes: float64(1), int64(5), object(2)
memory usage: 3.1+ MB

In [5]:
roads.isna().sum()

Road_ID             50000
1st_Road_Class          0
1st_Road_Number         0
Road_Type               0
Speed_limit             0
Junction_Control    15608
2nd_Road_Class          0
2nd_Road_Number         0
dtype: int64

In [7]:
roads.dropna(subset=['Junction_Control'], inplace=True)

In [9]:
roads.isna().sum()

Road_ID             34392
1st_Road_Class          0
1st_Road_Number         0
Road_Type               0
Speed_limit             0
Junction_Control        0
2nd_Road_Class          0
2nd_Road_Number         0
dtype: int64

In [10]:
roads.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34392 entries, 1 to 49999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Road_ID           0 non-null      float64
 1   1st_Road_Class    34392 non-null  int64
 2   1st_Road_Number   34392 non-null  int64
 3   Road_Type         34392 non-null  object
 4   Speed_limit       34392 non-null  int64
 5   Junction_Control  34392 non-null  object
 6   2nd_Road_Class    34392 non-null  int64
 7   2nd_Road_Number   34392 non-null  int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.4+ MB

In [15]:
roads.to_csv('new_roads_file.csv', index=False)